@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.footer {
  text-align: center;
  padding: 5px;
  background-color: rgba(43, 37, 37, 0.151);
}

.cursive {
  font-family: "Amatic SC", cursive;
  font-size: 20px;
}
.form {
  height: 100px;
  width: 200px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.form > input,
textarea {
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  border: 1px solid lightgray;
}

.form > input:focus,
textarea:focus {
  border: 1px solid rgb(0, 0, 196);
}

.form > textarea {
  height: 100px;
  max-width: 10px;
  min-height: 10px;
}

.form > label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: lighter;
}

.form > button {
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 1px;
  margin-left: 80px;
  margin-right: 80px;
}

.form > button:hover {
  background-color: rgb(0, 0, 196);
}
.Appx {
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-position: 10%;
  justify-content: space-around;
  align-items: center;
  white-space: pre-wrap;
  padding-bottom: 50px;
  min-height: 80px;
  display: flex;
  align-items: center;

flex-direction: column;
}

.Appxc {
  color: rgb(255, 255, 255);
  height: 150vh;
  width: 200;
  display: flex;
  flex-direction: column;
  
  background-position: 10%;
  padding-bottom: 50px;
  
  align-items: center;
  text-align: center;
  font-size: 25px;
    
}

.Appxc > input,
textarea {
  padding: 3px;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 1px solid lightgray;
  background: #fff;
}

.Appxc > button {
  background-color: rgb(96, 96, 240);
  border-radius: 10px;
  font-weight: 40px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 80px;
}
